<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="../styles/index.css")
        title gulp-basic-example
    body
        div(id="clickFiled") clickFiled
        div(id="result") result
        img(src="../assets/example.png", alt="example picture")
        script(src="../js/all.js")